.App {
  text-align: center;
  background-color: #61fb6e;
  display: grid;
}

.App-header {
  display: grid;
  background-color: #282c34;
  grid-template-columns: 1;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.OpenBook {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  justify-content: center;
}
