.App {
  text-align: center;
  background-color: #61fb6e;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-header {
  display: grid;
  background-color: #282c34;
  grid-template-columns: 1;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.OpenBook {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  justify-content: center;
  grid-gap: 10%;

  &__about {
    display: grid;
    grid-gap: 10%;
    justify-content: center;
  }
}
