.App {
  text-align: center;
  background-color: #61fb6e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 400px;
  height: 200px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: App-logo-spin infinite 30s linear;
}

.App-link {
  color: #61fb6e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
